{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>DejaVu</title>{% endblock %}
  
<!-- uni-form JS library, optional
<script src="{{ STATIC_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script> -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="{% static 'main/css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
  <!-- Add additional CSS in static file -->
 
  <link rel="stylesheet" type="text/css" href="{% static 'pages/main.css' %}">
</head>
<body>

  {% include "navbar.html" %}
  <div class="container-fluid">
        {% if messages %}
          {% for message in messages%}
            <div class="alert alert-{{message.tags}}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}  
        {% block content %}
        {% endblock %}
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $('[data-toggle="tooltip"]').tooltip()
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {% block javascript %}{% endblock %}
</body>
</html>