{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="view" style="background-image: url('/media/bg_image/17263.jpg');background-repeat: no-repeat; background-size: cover; background-position: center center; height: 100%">
  <div class="mask rgba-gradient align-items-center">
    <div class="container">
      <div class="row mt-6">
        <div class="col-md-12 mb-5 mt-md-0 mt-5 white-text text-center text-md-center">
                    <h1 class="h1-responsive" style="text-align:center; color: white;" data-wow-delay="0.3s">DejaVu</h1>
                    <hr class="my-4" style="color: white;">
                    <h6 class="mb-3 " style="text-align:center;color: white;" data-wow-delay="0.3s">AI based similarity detection</h6>
        </div>
      </div>
    </div>
  </div> 
 </div>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <p>Artificial Intelligence (AI) is one of the fastest growing technologies of our time. It is considered by Google CEO Sundar Pichai as “more important to humanity than fire or electricity”.</p>
        <p>The aim of this project is to evaluate the ability of todays’ available AI tools and techniques to analyze media files like images or videos for similarities (e.g test an image or video against another image or video).</p>
        
        <p class="mb-0">
          This project was offered to students of the <a href="https://www.tu-berlin.de/menue/home/">Technische Universität Berlin</a> by the Business Unit FAME of the Fraunhofer <a href="https://www.fokus.fraunhofer.de/en">FOKUS</a> Institute for Open Communication Systems.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- how it works -->
<!--Carousel Wrapper-->

<section class="my-5">
<div class="container px-lg-5">
  <div class="row px-lg-5">
    <div class="col py-3 px-lg-5">
      <h3 class="text-center">How it works</h3>
    </div>
  </div>
</div>

<div class="container px-lg-5">
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
    <li data-target="#carousel" data-slide-to="3"></li>
    <li data-target="#carousel" data-slide-to="4"></li>
    <li data-target="#carousel" data-slide-to="5"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" data-interval="2000">
      <div class="view">
        <img class="d-block w-100" src="/media/landing_page/1.jpg"
          alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="/media/landing_page/2.jpg"
          alt="Second slide">
        <div class="mask rgba-black-light"></div>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="/media/landing_page/3.jpg"
          alt="Second slide">
        <div class="mask rgba-black-light"></div>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="/media/landing_page/4.jpg"
          alt="Second slide">
        <div class="mask rgba-black-light"></div>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="/media/landing_page/5.jpg"
          alt="Second slide">
        <div class="mask rgba-black-light"></div>
      </div>
    </div>
    <div class="carousel-item" data-interval="2000">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="/media/landing_page/6.jpg"
          alt="Third slide">
        <div class="mask rgba-black-light"></div>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  <!--/.Controls-->
  </div>
 </div>
</section>
<!--/.Carousel Wrapper-->
<!-- how it works -->
<div class="container">
      <div class="row mt-6">
        <div class="col-md-12 mb-5 mt-md-0 mt-5 white-text text-center text-md-center">
          <a href="{% url 'register' %}" class="btn btn-secondary btn-lg my-1">Try it now</a>

    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small  bg-dark pt-4"  >
  <!-- Footer Links -->
  <div class="container text-center text-md-left" >
    <!-- Footer links -->
    <div class="row text-center text-md-left mt-2 pb-2" >
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3" >
        <h5 class="text-center mb-3 font-weight-bold" style="color:white;">DejaVu</h5>
        <p style="color:white;">AI based Similarity detection project</p>
      </div>
      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">
      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 " style="color:white;">Useful links</h6>
        <p>
          <a href="#!">reference</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>
      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold" style="color:white;">Contact</h6>
        <p style="color:white;">
          <i class="fas fa-home mr-3" ></i> info</p>
        <p style="color:white;">
          <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Footer links -->
    <hr>
    <!-- Grid row -->
    <div class="row d-flex align-items-center">
      <!-- Grid column -->
      <div class="col-md-10 col-lg-12">

        <!--Copyright-->
        <p class="text-center" style="color:white;">© 2019 Copyright:
            <strong> Bazinga Team</strong>
          </a>
        </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->


{% endblock %}