<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        <a class="navbar-brand" href="{% url 'index' %}">
            DejaVu
        </a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'photo_list' %}">My Photos<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active"><a class="nav-link" href="{% url 'photo_new' %}">Upload</a></li>
          <li class="nav-item active"><a class="nav-link" href="{% url 'photos_evaluate' %}">Evaluate All</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
              <li><a class="nav-link" href="{% url 'profile'%}?next={{request.path}}">{{ user.get_username }}</a></li>
          {% endif %}
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">MainMenu <span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'profile'%}?next={{request.path}}">profile</a>
                <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
              {% else %}
                <a class="dropdown-item" href="{% url 'login'%}?next={{request.path}}">Login</a>
                <a class="dropdown-item" href="{% url 'register'%}?next={{request.path}}">sign up</a>
              {% endif %} 
              <a class="dropdown-item" href="#">About</a>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>