{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>The password has been changed!</h1>
  <p><a class="ml-2" href="{% url 'login' %}">log in again?</a></p>
{% endblock %}