{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form action="" method="post">
      {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Please Enter Your Email.</legend>
            {{ form|crispy }}
            {% if form.email.errors %}
              {{ form.email.errors }}
            {% endif %}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
          </div>    
    </form>
</div>
{% endblock %}