{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="jumbotron  jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Choose a new Photo</h1>
        <!-- IMPORTANT enctype attribute! -->
        <form class="dropzone" action="{% url "photo_new" %}" method="post" enctype="multipart/form-data" id="myDropzone">
            {% csrf_token %}
        </form>
        <script src="{% static 'main/js/dropzone.js' %}"></script>
        <script type="text/javascript">
            Dropzone.options.myDropzone = {
                // kept these just in case we want to reconfigure dropzone later
                // Prevents Dropzone from uploading dropped files immediately
                // autoProcessQueue : false,
                parallelUploads  : 10,
                paramName: 'image',

                init : function() {
                    var submitButton = document.querySelector("#submit-all")
                    myDropzone = this;

                    submitButton.addEventListener("click", function() {
                        myDropzone.processQueue();
                        // Tell Dropzone to process all queued files.
                    });

                    // You might want to show the submit button only when
                    // files are dropped here:
                    this.on("addedfile", function() {
                        // Show submit button here and/or inform user to click it.
                    });

                }
            };
        </script>
    </div>
</div>
{% endblock %}

