{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load cloudinary %} 
 


<section class="gallery-block cards-gallery">
    <div class="container-fluid">
    <section class="jumbotron text-center">
        <div class="container">       
            <h2 class="jumbotron-heading">Add a new photo</h2>
                <p>
                    <a href = "{% url 'photo_new' %}" class="btn btn-secondary my-2">click here</a>
                </p>
        </div>  
    </section>
        <div class="row">
            {% for photo in photos_list %}
                <div class="col-md-6 col-lg-4">
                    <div class="card border-3">                  
                        {% cloudinary photo.image format="jpg" class="responsive rounded" crop="fill" alt="Nature"  style="width:100% " %}
                         <div class="card-body">
                            <div class="btn-group offset-md-2" role="group" aria-label="...">
                                <a href = "{% url 'photo_delete' photo.id%}" class="btn btn-secondary bg-danger">Delete</a>
                                {% if photo.not_processable %}
                                    <span class="tool-tip" data-toggle="tooltip" data-placement="top" title="Photo can't be processed">
                                            <a href = "#" class="btn btn-secondary bg-warning disabled">Error</a>
                                    </span>
                                {% elif photo.features_generated %}
                                    <span class="tool-tip" data-toggle="tooltip" data-placement="top" title="Compare this photo to the rest">
                                            <a href = "{% url 'photo_evaluate' photo.id%}" class="btn btn-secondary bg-success">Evaluate</a>
                                    </span>
                                {% else %}
                                    <span class="tool-tip" data-toggle="tooltip" data-placement="top" title="Please wait until the photo is processed">
                                            <a href = "#" class="btn btn-secondary bg-info disabled">Pending</a>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor%}
        </div>
    </div>
</section>

{% endblock %}