{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load cloudinary %} 


<section class="gallery-block cards-gallery">
    <div class="container">
        <div class="heading">
            <div class="col-md-4 offset-md-4">        
                {% cloudinary queryPhoto.image format="jpg" class="responsive rounded" crop="fill" alt="Nature"  style="width:100%" %}
                <div class="card-body">
                    <div class="btn-group offset-md-3" role="group" aria-label="...">
                        <a href= "{% url 'photo_list' %} " class="btn btn-secondary">keep</a>
                        <a href= "{% url 'photo_delete' queryPhoto.id%}" class="btn btn-secondary">delete</a>
                    </div>
                </div>
            </div>
        </div>
            <div class=" text-center">
                 <h2>Similar Photos</h2>
            </div>
    <div class="row">   
         {% for distance, photo in simialarPhotos %}
            <div class="col-md-6 col-lg-4">
                <div class="card small">
                    {% cloudinary photo.image format="jpg" class="responsive rounded" crop="fill" alt="Nature" style="width:100%" %}
                        <div class="card-body text-center">
                            <h5>{{ distance }}</h5>
                        </div> 
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}