{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Photo Delete</h1>
    <form method="post">
        {% csrf_token %}
        Are you sure you want to delete "{{ object }}" ?
        <input class="btn btn-outline-primary" type="submit" value="Submit" />
        <a href = "{% url 'photo_list' %}" class="btn btn-outline-primary">Cancel</a>
    </form>
{% endblock %}