{% extends "base_generic.html" %}
{% block javascript %}
<script>
    var photosList = new Array
    function updateList(photo) {
        var id = photo.id;
        if (photo.checked && !photosList.includes(id))
            photosList.push(id)
        else
            photosList.pop(id)
        updateButton()
    }
    
    function updateButton(){
        Button = document.getElementById('delete_button');
        if (photosList.length != 0) {
            Button.disabled = false;
        }
        else {
            Button.disabled = true;
        }
    }

    $( document ).ready(function() {
        updateButton();
        $("button#delete_button").click(function(){
            var x = confirm("Are you sure?");
                if (x)
                    deleteRequest();
                else
                    return false;
        });
    });

    function deleteRequest(){
        $.post( "/photos/delete_group", {photos: photosList, csrfmiddlewaretoken: '{{ csrf_token }}'}, function(data, status){
                window.location.href="/photos";
            })
            .fail( function(xhr, textStatus, errorThrown) {
                alert("somethig went wrong!!! please try again");
            });
    }
</script>
{% endblock %}
{% block content %}
{% load cloudinary %} 
<H1>Select the photos you want to delete</H1>
<!-- <button>Send an HTTP POST request to a page and get the result back</button> -->
<button type="button" id = "delete_button" class="btn btn-danger" disabled>Delete</button>
<section class="gallery-block cards-gallery">
    {% for group in photosGroups %}
        <div class="container">
            <div class="row border border-dark border-top-0 rounded-bottom">
                {% for photo in group %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-3">
                            {% cloudinary photo.image format="jpg" class="responsive rounded" crop="fill" alt="Nature"  style="width:100%" %}
                            <div class="card-body">
                                <div class="btn-group offset-md-2" role="group" aria-label="...">
                                    <input type="checkbox" id = "{{ photo.id }}" onclick="updateList(this)" autocomplete="off">&nbsp;Select <br>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </br>
            </br>
        </div>
    {% endfor %}
</section>
{% endblock %}